@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    background-color: black;
    margin: 0 auto;
  
    
}
.main-container{
   
        margin-top: 1rem;
        
    
    
   
  
}
.div-top{
    /* width: 1440px;
    height: 715px; */
    width: 100%;
    height: 100%;
}
/* body{
    color: white;
} */
.nav-bar{
    /* height: 46px;
    width: 1060; */
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 58.5px;
}
.nav-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;

    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;

    
 
}
.fitness{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.home{
    border-radius: 46px;

background: rgb(230, 83, 60);
padding: 8px 20px 8px 20px;


text-align: center;

}
.nav-option{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.ham-burger{
    display: none;
}
.banner{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner-div1-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left; 
    

}

.shape{
    font-style: italic;
    font-weight: 100;
}
.banner-div1-paragraph{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: left;  
}

.banner-image{
    width: 349px;
    height: 580px;
    position: absolute;
    left: 1000px;
top: 135px;
}
.banner-div1-buttons{
    display: flex;
    gap: 20px;
    
    
}
.banner-div1-button1{
    border-radius: 42px;

background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
padding: 16px 40px 16px 40px;
margin: 0;
}
.banner-div1-button2{
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
letter-spacing: 0px;
text-align: left;
padding: 16px 40px 16px 40px;
margin: 0;


}


@media screen and (max-width:576px) {
    
    .main-container{
        
       
        
            
              
                margin: 0 auto;
                border-radius: 1rem;
                
            
            
           
          
        





    }

    .ham-burger{
        display: block;
    }
    .nav-options{
        display: none;
    }
    .nav-bar{
        /* width: 353px; */
        width: 100%;
        height: 43px;
        margin-top: 35px;
    
       

    }
    
}


